@charset "utf-8";

/**
 * @desciption 常用的界面组件样式定义
 * @lastModified 2017-03-06
 * @maintainers guojm
 */


/* 容器类：背景图标元素 */

.ui-icon {
    display: inline-block;
    vertical-align: middle;
    background-image: $icon-url;
    background-repeat: no-repeat;
    background-size: $icon-size;
    font-style: normal;
    position: relative;
}

.ui-icon-info {
    @extend .ui-icon;
    width: 15px;
    height: 15px;
    background-position: -176px -293px;
}

// loading
%icon-loading {
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url("#{$images-common-url}loading-gw.png") no-repeat center center;
    background-size: 100% 100%;
    @include animation(spin 1s steps(12, end) 0s infinite normal forwards);
}

.ui-loading {
    margin: 15px 0;
    text-align: center;
    font-size: 15px;
    line-height: 36px;
    .icon {
        display: inline-block;
        vertical-align: middle;
        @include radius(50%);
        position: relative;
        width: 20px;
        height: 20px;
        border: 2px solid rgba(59, 118, 216, .2);
        border-left-color: #3b76d8;
        @include transform-translate3d(0,
        0,
        0);
        @include animation(spin 1.1s infinite linear);
        &::before {
            content: '';
            position: absolute;
        }
    }
    .text {
        vertical-align: middle;
        margin-left: 6px;
    }
    &.small {
        margin: 0;
        line-height: 1;
        display: inline-block;
        .icon {
            width: 16px;
            height: 16px;
        }
        .text {
            font-size: 13px!important;
        }
    }
    &.white {
        .icon {
            border-color: rgba(255, 255, 255, .2);
            border-left-color: #fff;
        }
    }
}