@charset "utf-8";

// @desciption dora.tiptext 文本提示
// @author guojm
// @lastModified 2018-01-02
// @maintainers guojm

.ui-tiptext {
    padding: 15px 16px;
    font-size: 13px;
    color: #6e6e6e;
}
