@charset "utf-8";
// @desciption dora.tipup 气泡提示
// @author guojm
// @lastModified 2017-09-11
// @maintainers guojm
// 气泡内容容器
.ui-tipup {
    // 遮罩气泡提示
    &-overlay {
        display: inline-block;
        vertical-align: text-bottom;
        // 背景遮罩
        &-bg {
            position: fixed;
            z-index: $z-index + 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: rgba(0, 0, 0, 0);
        }
        // 气泡内容
        &-content {
            display: none;
            padding: 10px 15px;
        }
        &-tip {
            position: absolute;
            z-index: $z-index + 2;
            min-width: 150px;
            background: rgba(0, 0, 0, .7);
            @include radius(4px);
            color: #fff;
            .ui-tipup-overlay-content {
                display: block;
            }
        }
        // 气泡箭头
        &-arrow {
            position: absolute;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-bottom-color: rgba(0, 0, 0, .7);
            top: -12px;
            margin-left: -6px;
        }
        // 气泡在顶部
        &-tip.ui-tipup-top {
            .ui-tipup-overlay-arrow {
                top: auto;
                bottom: -12px;
                border-top-color: rgba(0, 0, 0, .7);
                border-bottom-color: transparent;
            }
        }
    }
}
