@charset "utf-8";

/**
* @desciption groupportal 集团门户登录页
* @author guojm
* @lastModified 2017-10-12
* @maintainers guojm
*/

.login-form {
    .ui-form-item {
        background: #fff;
        padding: 17px 16px;
        margin: 0;
        &-icon {
            @include flex();
            width: 28px;
            height: 26px;
        }
        .ui-input {
            height: 26px;
            text-align: left;
        }
        .verifycode {
            width: 66px;
            height: 26px;
        }
        // 验证提示
        .formError {
            left: 34px;
        }
    }
    .login-item-verifycode {
        z-index: 0;
    }
    .ui-icon {
        width: 18px;
        height: 18px;
        vertical-align: top;
        top: 4px;
        background: url("#{$images-url}icon-card.png") center 0 no-repeat;
        background-size: 18px 18px;
        &-user {
            background-image: url("#{$images-url}icon-idcard.png");
        }
        &-lock {
            background-image: url("#{$images-url}icon-lock.png");
        }
    }
}