@charset "utf-8";

/**
* @desciption transfer 转账汇款
* @author guojm
* @lastModified 2017-10-12
* @maintainers guojm
*/

// 收款信息输入
.transfer-receiveinput {
    .ui-form-item {
        .ui-input {
            margin-right: 40px;
        }
        .choose-account {
            position: absolute;
            right: 16px;
            top: 14px;
            width: 20px;
            height: 20px;
            background: url("#{$images-url}icon-user.png") no-repeat;
            background-size: 100%;
        }
    }
}

// 收款人列表
.transfer-account {
    margin-top: 40px;
    &-title {
        @extend .fn-clearfix;
        .tip {
            float: right;
            padding: 8px 10px 0 0;
            line-height: 30px;
            color: $color-darkgray;
            font-size: 12px;
        }
        ul {
            float: left;
            padding-top: 8px;
            &>li {
                display: inline-block;
                padding: 0 6px;
                margin: 0 0 -1px 10px;
                line-height: 30px;
                text-align: center;
                font-size: 13px;
                color: $color-darkblack;
                border-bottom: 2px solid transparent;
                &.selected {
                    color: $color-blue;
                    border-bottom-color: $color-blue;
                }
            }
        }
    }
    &-list {
        .ui-list {
            &>li {
                a {
                    display: block;
                    padding: 15px 16px 15px 64px;
                    position: relative;
                    .logo-bank-s {
                        position: absolute;
                        left: 16px;
                        top: 50%;
                        margin-top: -12px;
                    }
                }
                h6 {
                    .bank {
                        margin-left: 10px;
                        font-size: 12px;
                        color: $color-darkgray;
                    }
                }
            }
        }
    }
    .ui-list-more {
        border-bottom: 1px solid $color-lightgray;
    }
}

// 输入转账信息
.transmode-tip {
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 12px;
}


/* 收款银行页 */

.transfer-bank {
    &-search {
        padding: 10px 16px;
        background: #fff;
        border-bottom: 1px solid $color-lightgray;
    }
    &-list {
        .ui-list-group-box {
            border-top: 1px solid $color-lightgray;
            border-bottom: 1px solid $color-lightgray;
        }
        .ui-list {
            @extend .fn-clearfix;
            margin: 0 6px -1px 6px;
            &>li {
                float: left;
                width: 50%;
                border-top: none;
                height: 46px;
                line-height: 46px;
                overflow: hidden;
                a {
                    display: block;
                    padding: 0 16px;
                }
                .logo-bank {
                    margin-top: 10px;
                }
            }
        }
    }
}

// 交易成功
.transfer-success {
    margin: 15px 0;
    text-align: center;
    .ui-tipbox {
        display: inline-block;
    }
    // 收款人信息
    &-rcvinfo {
        padding: 0 16px;
        .ui-list-info {
            background: #fff;
            li {
                border: none;
                padding: 0;
                margin: 15px 16px;
            }
        }
    }
    &-btn-area {
        margin: 20px 16px;
        .btn-wrap {
            @include flexbox();
            margin: 10px 0;
        }
        .ui-button {
            @include flex(1);
            &+.ui-button {
                margin-left: 20px;
            }
        }
    }
}