@charset "utf-8";

/**
 * @desciption 表单输入框样式定义
 */


/* 普通输入框 */

.ui-input {
    height: $form-input-height;
    margin: 0;
    border: none;
    @include radius(0px);
    outline: none;
    color: #333;
    font-size: 15px;
    background: transparent;
    vertical-align: middle;
    &::-webkit-input-placeholder {
        color: $color-darkgray;
        font-size: 15px; // 安卓下font-size一致，才能让placeholder垂直居中
    }
    &:focus {
        border-color: $form-border-highlight-color;
    }
}

// 禁用状态
.ui-input[disabled],
.ui-input:disabled {
    background: #f2f2f2;
    color: #aaa;
}
