@charset "utf-8";

/**
 * @desciption 搜索框
 */

.ui-search {
    @include flexbox();
    @include radius(16px);
    padding: 5px 0;
    border: 1px solid $color-lightgray;
    font-size: 14px;
    &-ipt {
        @include flex(1);
        height: $form-input-height;
        padding: 0 16px;
        background: none;
        border: none;
        border-right: 1px solid #ddd;
    }
    &-btn {
        @include flex();
        height: $form-input-height;
        padding: 0 16px;
        background: none;
        border: none;
        color: $color-blue;
    }
}